<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Game#3</title>
  <script type="text/javascript" src="/games/PlusOrMinus.js"></script>

    <% include partials/scripts.ejs %>

</head>
<body class="backfond">
	<div class="jumbotron jumbotron-fluid primary white">
		<div class="container text-center">
		    <h1 class="display-4">
		        Bienvenue au jeu du PLUS ou MOINS !
		    </h1>
		</div>
        </div>

        </script>
        <div class="text-center">
	 	<input autofocus class="test-form-ctl w-25" type="text" name="repUtilisateur" id="inputID">
	 	<!-- on appelle la méthode donner un nombre au clique -->
	 	<button class="btn secondary white passage" type="submit" id="buttonID" onclick="pOm.donneNombre()" > 
	 		Donner ma réponse
	 	</button>
	 	
	 	
	 	
	 	
	 	<p class="mt-4">
	 		SCORE : <div id="scoreID"></div>
	 	</p>
	 	
	 	<p id = "PLUSOUMOINS">
	 		INDICATION : 
	 	</p>
	 	<p id = "indicationID">
	 		
	 	</p>

	 	<p id="directiveID">
	 		
	 	</p>
 	</div>
 	

 	<div class="text-left offset-1">
 		<form action="/profile">
 			<!-- on appelle la méthode finDuJeu()  au clique, qui permet de faire les verifications nécessaire
 			côté serveur -->
 		<button class="btn secondary white passage" type="submit" id="buttonBackID" onclick="pOm.finDuJeu()" > retourner au Profil</button>
 	</form>
 	</div>
 	
 	

 	<script type="text/javascript">

 		// appel à la méthode de configuration dans public/games/PlusOrMinus.js 
 		config(); 

 		// on raffraichît le score et les affichages.
 		pOm.refreshScoreAndIndication();
		  	
	
 	</script>
</body>
</html>
