<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome</title>
  <% include partials/scripts.ejs %> <!-- on inclut le script en début pour charger les fichiers front-end (bootstrap) -->
</head>
<body>
  <div class="jumbotron jumbotron-fluid primary white">
    <div class="container text-center">
      <h1 class="display-2">
        Bonjour, <%= user.username %>
      </h1>
      <a class="btn secondary white btn-lg" href="/logout">Logout</a>
    </div>
  </div>
<div class="container text-center">
    <p>
<% games.forEach(function(item){%> <!-- cette boucle fait apparaître tous les jeux présents dans la base -->
    <p>
      
      <a href="/<%=item.name%>"> 
        <%=item.name%> ----- <%=item.highscore%>
      </a>
    </p>
    <!-- en faisant \item.name, on met l'url de chacun des jeux -->

<%})%>
</p>
</div>

</table>
</body>
</html>
